.git
.github
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.venv
**/venv
**/node_modules
**/dist
**/build
backend/.env*
backend/db.sqlite3*
backend/db_old.sqlite3*
backend/media
backend/models
backend/private_media
backend/static
backend/AWCenter.crt
backend/AWCenter.key
*.crt
*.key
*.log
.DS_Store
